@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android'; 
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --color0: #c5ebd6;
    --color1: #83e1ad;
    --color2: #3ddc84;
    --color3: #2fa866;
    --color4: #1a5c37;
    --color5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --fonte-android: 'Android', 'cursive';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--color0);
    font-family: var(--fonte-padrao);
}

a.external::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--color3), var(--color5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
color: white;
font-family: var(--fonte-destaque);
margin-bottom: 20px;
font-size: 3em;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
font-weight: normal;
}

header > p {
color: white;
font-family: var(--fonte-padrao);
font-size: 1.2em;
max-width: 500px;
padding-right: 20px;
padding-left: 20px;
margin: auto;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
margin-bottom: 20px;
}

nav {
    background-color: var(--color5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    color: var(--color1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: .3s;
}

nav > a:hover {
    background-color: var(--color2);
    color: var(--color5);
}

main {
    background-color: white;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--color5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--color4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--color1), transparent);
    text-indent: 8px;
    font-weight: normal;
}

main > article > img {
    width: 100%;

}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5em;
    font-size: 1em;
}

main strong {
    color: var(--color4);
    font-weight: bold;
}

main a {
    font-weight: bold;
    color: var(--color5);
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

div.video {
    background-color: var(--color5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

aside {
    background-color: var(--color1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.281);

}

aside h3 {
    background-color: var(--color4);
    color: white;
    text-align: center;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--color5);
    color: white;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}


footer a:hover {
    text-decoration: underline;
}

